header {
  background-image: radial-gradient(red, yellow);
  border: 5px dashed #eee;
}

footer{
  background-image: radial-gradient(red, yellow);
  border: 5px dashed #eee;
  padding: 15px;
  margin-top: 15px;
}

h1 {
  text-align: center;
  color: white;
  padding: 15px
}

h2 {
  text-align: center;
  color: white;
  padding: 7px;
  font-style: oblique;
}
h3 {
  text-align: center;
  color: white;
  margin: 20px;
  font-style: oblique;
}

h4 {
  text-align: center;
  color: white;
  margin: 8px;
  font-style: oblique;
}

body {
  background: black;
  background-image: url(/assets/images/animated-gifs.gif);
  background-repeat: round;
}

.container {
  width: 100%;
  border: 5px dashed #eee;
  text-align: center;
  margin-top: 10px;
}

.row {
  text-align: center;
  margin: auto;
  display:inline-flex;
}

.imgAline {
  width: 100%;
  max-height:150px;
}

.center {
  text-align: center;
}

.bgBlack {
  background-color: black;
}

.bg1 {
  background-color: blue;
}

.bg2 {
  background-color: green;
}

.bg3 {
  background-color: red;
}

.bg4 {
  background-color: pink;
}

.borderLeft {

  border-left:5px dashed white;
}

.smallBlock {
  min-height: : 50%;
}

.img-wrap {
  max-width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

}
